<?php
    #header
    $title="The Lord's Harvest Prayer Mountain and Ministries Foundation Inc.";
    $icon='./assets/images/logo.png';

    #navigation
    $navlogotext = "The Lord's Harvest";
    $home ="Home";
    $about ="About";
    $services ="Services";
    $contact ="Contact";
    $tlhattendance ="TLH Attendance";
    $tlhprofile ="TLH Profile";

    #home
    $headline ="<h1 class='headline'>The Lord's <span class='home_text'>Harvest</span><br>Prayer Mountain Inc.</h1>";
    $headline2 ='<p class="para para-light py-3"> <p>We value: The Love for God, Word of God, Relationships, Obedience, <br>Truthfulness, Service, and Small Groups #LifeINChrist.</p>';
    $homebtn ="Join with us";

    #about
    $announcement ="<p>ANNOUNCEMENT</p><h1>The Lord's Harvest</h1>";
    $video ='<video controls loop width="500" autoplay muted>
                <source src="assets/images/Announcement2023_0.mp4" type="video/mp4">
                <source src="forest.ogg" type="video/ogg">
            </video>';

    $abouttitle ="<p>ABOUT US</p><h1>The Lord's Harvest</h1>";
    $vision ='<p1 class="py-2 para-light">
    VISION:
        TLH is a Disciple-making Church.
        As based on The Great Commission - Matthew 28:18-20 (NIV) "Then Jesus came to them and said, “All authority in heaven and on earth has been given to me. Therefore go and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit, and teaching them to obey everything I have commanded you. And surely I am with you always, to the very end of the age.”
        <br>
        <br>
        MISSION:
        Make disciples, Train Leaders, and Plant Churches
        <br>
        <br>
        CORE VALUES:
        We value: the Love for God, Word of God, Relationships, Obedience, Truthfulness, Service, and Small Groups #LifeINChrist.
        ---
        <br>
        <br>
        Our OUTREACHES:
        TLH BABATNGON - Brgy. Lukay, Babatngon, Leyte.
        Sunday Services 8:30am
        TLH TACLOBAN - H&M Building, Brgy. 62 Real Street, Tacloban City (beside Chicken Deli)
        Sunday Services 9:00am
        TLH MAGSAYSAY - Brgy. Magsaysay, Sta. Rita, Samar
        Sunday Services 9:00am
    </p1>';
    $aboutbtn ="Learn More";
    $aboutimglogo ='<img class="img-fluid" src="./assets/images/circle logo.png" alt="about" >';

    #services
    $servicestitle ='<p>CHURCH SERVICE</p><h2 class="py-2">---</h2>
    <p class="para-light">
        Matthew 28:18-20 (NIV) "Then Jesus came to them and said, “All authority in heaven and on earth has been given to me. 
        Therefore go and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit, 
        and teaching them to obey everything I have commanded you. And surely I am with you always, to the very end of the age.
    </p>';
    $image1 ='<img class="img-fluid" src="./assets/images/circle logo.png" width="38">';
    $tooltip1 ='<h4 class="py-2">TLH BABATNGON</h4>
    <p1 class="para-light">Sunday - 9:00 AM to 11:30 AM
        Brgy. Lukay, Babatngon, Leyte</p1>';
    $image2 ='<img class="img-fluid" src="./assets/images/circle logo.png" width="38">';
    $tooltip2 ='<h4 class="py-2">TLH NORTH TACLOBAN</h4>
    <p1 class="para-light">Sunday - 9:00 AM to 11:30 AM
        GMA Pabahay...</p1>';
    $image3 ='<img class="img-fluid" src="./assets/images/circle logo.png" width="38">';
    $tooltip3 =' <h4 class="py-2">TLH GREENDALE</h4>
    <p1 class="para-light">Sunday - 9:00 AM to 11:30 AM
        Greendale Pabahay...</p1>';
    $image4 ='<img class="img-fluid" src="./assets/images/circle logo.png" width="38">';
    $tooltip4 =' <h4 class="py-2">TLH MAGSAYSAY</h4>
    <p1 class="para-light">Saturday - 9:00 AM to 11:30 AM
        Brgy. Magsaysay, Sta. Rita, Samar</p1>';
    $image5 ='<img class="img-fluid" src="./assets/images/circle logo.png" width="38">';
    $tooltip5 ='<h4 class="py-2">TLH TACLOBAN</h4>
    <p1 class="para-light">Saturday - 9:00 AM to 11:30 AM
        H&M Building, Brgy. 62 Real Street, Tacloban City</p1>';
    $image6 ='<img class="img-fluid" src="./assets/images/circle logo.png" width="38">';
    $tooltip6 =' <h4 class="py-2">JOINT WORSHIP</h4>
    <p1 class="para-light">Every December - 9:00 AM to 3:00 PM 
        Brgy Lukay Babatngon Leyte.</p1>';

    #pastors
    $titlepastor ='<p>OUR PASTORS</p>
    <p class="para-light">Matthew 28:18-20 (NIV) "Then Jesus came to them and said, “All authority in heaven and on earth has been given to me. 
    Therefore go and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit, 
    and teaching them to obey everything I have commanded you. And surely I am with you always, to the very end of the age.</p>';

    $lifeverse1 ='<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam commodi officia laborum qui iste quidem!</p>';
    $pastorimg1 ='<img class="avatar" src="./assets/images/profile.png" alt="testimonial">';
    $pastorname1 ='<h6>Marlene Visconte</h6><p>General Manager - Scouter</p>';

    $lifeverse2 ='<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam commodi officia laborum qui iste quidem!</p>';
    $pastorimg2 ='<img class="avatar" src="./assets/images/profile.png" alt="testimonial">';
    $pastorname2 ='<h6>Marlene Visconte</h6><p>General Manager - Scouter</p>';

    $lifeverse3 ='<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam commodi officia laborum qui iste quidem!</p>';
    $pastorimg3 ='<img class="avatar" src="./assets/images/profile.png" alt="testimonial">';
    $pastorname3 ='<h6>Marlene Visconte</h6><p>General Manager - Scouter</p>';

    $lifeverse4 ='<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam commodi officia laborum qui iste quidem!</p>';
    $pastorimg4 ='<img class="avatar" src="./assets/images/profile.png" alt="testimonial">';
    $pastorname4 ='<h6>Marlene Visconte</h6><p>General Manager - Scouter</p>';

    $lifeverse5 ='<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam commodi officia laborum qui iste quidem!</p>';
    $pastorimg5 ='<img class="avatar" src="./assets/images/profile.png" alt="testimonial">';
    $pastorname5 ='<h6>Marlene Visconte</h6><p>General Manager - Scouter</p>';

    #contact
    $titlecontact ='<p>CONTACT</p>
    <h2 class="py-2">Send your concern</h2>
    <p class="para-light">You can send us email for your concern or prayer request.</p>';

    $contactimg ='<img class="img-fluid d-none d-lg-block" src="./assets/images/contact.png" alt="contact">';

    #localtion
    $address ='<h6>ADDRESS</h6>
    <p>Brgy Lukay Babatngon, Leyte.</p>';

    $call ='<h6>CALL FOR QUERY</h6>
    <p>+639184830422</p>';

    $message ='<h6>SEND US MESSAGE</h6>
    <p>lordsharvest@gmail.com</p>';

    $opening ='<h6>OPENING HOURS</h6>
    <p>09:00 AM - 11:30 AM</p>';

    #footer
    $footertitle1 ="<h4 class=''>The Lord's Harvest</h4>";
    $footertooltip =' <p class="py-3 para-light">We value: The Love for God, Word of God, Relationships, Obedience, <br>Truthfulness, Service, and Small Groups #LifeINChrist.</p>';
    
    $linkstitle ='<h4 class="py-2">Quick Links</h4>';
    $linksabout ='About';
    $linksservices ='Services';
    $linkscontact ='Contact';

    $termstitle ='<h4 class="py-2">Terms and Conition</h4>';
    $privacy ='Privacy';
    $terms ='Terms';
    $disclaimer ='Disclaimer';
    $faq ='FAQ';

    $footertitle2 ='<h4>TLH</h4>';
    $footertooltip2 =' <p class="py-3 para-light">MISSION: Make disciples, Train Leaders, and Plant Churches</p>';





    





    
?>